{% if headingText %}
    <h1 class="text-center mb-2">{{ headingText }}</h1>
{% endif %}
{% if image %}
    {% if image.large.alt|length == 0 %}
        {% set image.large.alt = headingText %}
    {% endif %}
    {% set image.large.class = 'w-1-1' %}
    {% set image.large.srcset = image.large.src ~ ' 1200w, ' ~ image.small.src ~ ' 600w' %}
    {% set image.large.sizes = '100vw' %}
    <div class="mb-3">{{ image.large.tag }}</div>
{% endif %}
