{% include 'snippets/header' %}

{% block banner %}
    {{ _page.content('banner') }}
{% endblock %}

<div class="Container Container--pad ContentBg">
{% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content clearfix">
        <main id="main">{% block main _page.content() %}</main>
    </div>
</div>

{% include 'snippets/footer' %}
