{# One-column template. The content is as wide as the default container. #}
{% include 'snippets/header' %}

<div class="Container Container--pad ContentBg">
    {% block banner %}
        {{ _page.content('banner') }}
    {% endblock %}

    {% if _core.theme.settings.showBreadcrumb == "yes" and _page.isHome == false %}
        {{ _page.breadcrumb() }}
    {% endif %}
    <div class="Content clearfix">
        <main id="main">{% block main _page.content() %}</main>
    </div>
</div>

{% include 'snippets/footer' %}
