/* =========================================================================== *\
    Default Theme
\* =========================================================================== */

/* Color Config */

:root {
    --theme-primary-color: #38871a;
    --theme-primary-color-hover: #2a6614;
    --theme-secondary-color: #e0f3d8;
}

/* Body */

:root {
    --theme-body-background: #fff;
}

/* Core typography */

:root {
    --base-typography-color: var(--theme-typography-color);
    --base-typography-fontFamily: var(--theme-typography-fontFamily);
    --base-typography-fontSize: 1.8rem;
    --base-typography-fontWeight: 400;
    --base-typography-hrule-width: 1px;
    --base-typography-letterSpacing: 0;
    --base-typography-lineHeight: 1.58;
    --base-typography-spacing: 1.58em;
}

:root {
    --base-typography-link-color: var(--theme-typography-link-color);
    --base-typography-link-colorHover: var(--theme-typography-link-colorHover);
    --base-typography-link-decoration: underline;
    --base-typography-link-decorationHover: underline;
}

/* headings */

:root {
    --base-typography-h1-fontSize: 1.5em;
    --base-typography-h2-fontSize: 1.4em;
    --base-typography-h3-fontSize: 1.3em;
    --base-typography-h4-fontSize: 1.1em;
    --base-typography-h5-fontSize: 1em;
    --base-typography-h6-fontSize: 1em;
    --base-typography-h1-lineHeight: 1.2;
    --base-typography-h2-lineHeight: 1.2;
    --base-typography-h3-lineHeight: 1.2;
    --base-typography-h4-lineHeight: 1.2;
    --base-typography-h5-lineHeight: 1.2;
    --base-typography-h6-lineHeight: 1.2;
    --base-typography-heading-color: inherit;
    --base-typography-heading-fontFamily: var(--base-typography-fontFamily);
    --base-typography-heading-fontWeight: 400;
    --base-typography-heading-letterSpacing: .1em;
}

:root {
    --theme-typography-color: #444;
    --theme-typography-serif: 'Roboto Slab', 'Georgia', serif;
    --theme-typography-sans-serif: 'Roboto', 'Franklin Gothic Medium', 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    --theme-typography-fontFamily: var(--theme-typography-sans-serif);
}

/* Content Grid */

:root {
    --theme-content-grid-title-color: var(--theme-primary-color);
    --theme-content-grid-title-hover-color: var(--theme-primary-color);
}

:root {
    --theme-image-grid-title-background: var(--theme-primary-color);
    --theme-image-grid-title-color: #fff;
    --theme-image-grid-title-font-size: 1.2em;
    --theme-image-grid-title-font-weight: 300;
    --theme-image-grid-title-hover-background: var(--theme-primary-color-hover);
    --theme-image-grid-title-hover-color: #fff;
    --theme-image-grid-hover-background: var(--theme-primary-color-hover);
    --theme-image-grid-hover-color: #fff;
    --theme-image-grid-cover-background: var(--theme-primary-color-hover);
    --theme-image-grid-title-cover-color: #fff;
}

/* General Component Styles */

:root {
    --theme-component-top-margin: 20px;
}

/* Featured Content */

:root {
    --theme-feature-top-margin: 60px;
}

/* Featured Content */

:root {
    --theme-featured-content-background: var(--theme-primary-color);
    --theme-featured-content-heading-color: #efdbd5;
    --theme-featured-content-color: #fff;
    --theme-featured-button-background: #fff;
    --theme-featured-button-color: var(--theme-primary-color);
    --theme-featured-button-background-hover: var(--theme-primary-color-hover);
    --theme-featured-button-color-hover: #fff;
}

/* Image Grid */

:root {
    --theme-image-grid-title-background: var(--theme-primary-color);
    --theme-image-grid-title-color: #fff;
    --theme-image-grid-title-font-size: 1.2em;
    --theme-image-grid-title-font-weight: 300;
    --theme-image-grid-title-hover-background: var(--theme-primary-color);
    --theme-image-grid-title-hover-color: #fff;
    --theme-image-grid-hover-background: var(--theme-primary-color-hover);
    --theme-image-grid-hover-color: #fff;
    --theme-image-grid-cover-background: var(--theme-primary-color-hover);
    --theme-image-grid-title-cover-color: #fff;
}

/* Links & Buttons */

:root {
    --theme-typography-link-color: var(--theme-primary-color);
    --theme-typography-link-colorHover: var(--theme-primary-color-hover);
    --theme-button-background: var(--theme-primary-color);
    --theme-button-background-alt: #fff;
    --theme-button-color: #fff;
    --theme-button-color-alt: var(--theme-primary-color);
    --theme-button-background-hover: var(--theme-primary-color-hover);
    --theme-button-background-hover-alt: var(--theme-primary-color);
    --theme-button-color-hover: #fff;
    --theme-button-color-hover-alt: #fff;
    --theme-button-font: var(--theme-typography-fontFamily);
}

/* Headings */

:root {
    --theme-typography-heading-color: var(--theme-primary-color);
    --theme-typography-heading-fontFamily: var(--theme-typography-serif);
}

/* Main Navigation and Navigation Bar */

:root {
    --theme-navbar-bg: #fff;
    --theme-nav-color: var(--theme-typography-color);
    --theme-nav-color-hover: var(--theme-typography-color);
    --theme-nav-font: var(--theme-typography-fontFamily);
    --theme-nav-font-size: 1em;
    --theme-nav-line-height: 1.5;
    --theme-nav-dropdown-background: #e0f3d8;
    --theme-nav-dropdown-color: var(--theme-nav-color);
    --theme-nav-dropdown-color-hover: var(--theme-nav-color);
}

/* Full page slider */

:root {
    --theme-slider-caption-small-screen-background: var(--theme-primary-color);
}

/* Image Slider */
:root {
    --theme-image-slider-background: #f2f2f2;
    --theme-image-slider-color: var(--theme-typography-color);
    --theme-image-slider-title-background: var(--theme-primary-color);
    --theme-image-slider-title-color: #fff;
    --theme-image-slider-title-background-hover: #7a0504;
    --theme-image-slider-title-color-hover: #fff;
    --theme-image-slider-title-font-size: 1.2em;
    --theme-image-slider-title-font-weight: 300;
    --theme-image-slider-hover-background: #7a0504;
    --theme-image-slider-hover-color: #fff;
    --theme-image-slider-cover-background: rgba(162, 21, 20, .5);
    --theme-image-slider-cover-color: #fff;
}

/* Content Bar */

:root {
    --theme-content-bar-background: #225110;
    --theme-content-bar-heading-color: #fcfdfe;
    --theme-content-bar-color: #fcfdfe;
    --theme-content-bar-button-background: #fcfdfe;
    --theme-content-bar-button-color: var(--theme-content-bar-background);
    --theme-content-bar-button-background-hover: #cfdff1;
    --theme-content-bar-button-color-hover: var(--theme-content-bar-background);
    --theme-content-bar-link-color: #fcfdfe;
    --theme-content-bar-link-color-hover: #fcfdfe;
}

/* Footer */

:root {
    --theme-footer-bg: var(--theme-secondary-color);
    --theme-footer-color: var(--theme-primary-color);
    --theme-footer-nav-font: var(--theme-typography-fontFamily);
    --theme-footer-nav-color: #666;
    --theme-footer-nav-color-hover: var(--theme-primary-color);
}
