/* =========================================================================== *\
    Default Theme
\* =========================================================================== */

/* Color Config */

:root {
    --theme-primary-color: #4e9d30;
    --theme-secondary-color: #e0f3d8;
}

/* Body */

:root {
    --theme-body-background: #fff;
}

/* Core typography */

:root {
    --theme-typography-color: #444;
    --theme-typography-serif: 'Roboto Slab', 'Georgia', serif;
    --theme-typography-sans-serif: 'Roboto', 'Franklin Gothic Medium', 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    --theme-typography-fontFamily: var(--theme-typography-sans-serif);
}

/* Links & Buttons */

:root {
    --theme-typography-link-color: var(--theme-primary-color);
    --theme-typography-link-colorHover: #7a0504;
    --theme-button-background: var(--theme-primary-color);
    --theme-button-background-alt: #fff;
    --theme-button-color: #fff;
    --theme-button-color-alt: var(--theme-primary-color);
    --theme-button-background-hover: color(var(--theme-primary-color) shade(40%));
    --theme-button-background-hover-alt: var(--theme-primary-color);
    --theme-button-color-hover: #fff;
    --theme-button-color-hover-alt: #fff;
    --theme-button-font: var(--theme-typography-fontFamily);
}

/* Headings */

:root {
    --theme-typography-heading-color: var(--theme-primary-color);
    --theme-typography-heading-fontFamily: var(--theme-typography-serif);
}

/* Main Navigation and Navigation Bar */

:root {
    --theme-navbar-bg: #fff;
    --theme-nav-color: var(--theme-typography-color);
    --theme-nav-color-hover: var(--theme-typography-color);
    --theme-nav-font: var(--theme-typography-fontFamily);
    --theme-nav-font-size: 18px;
    --theme-nav-line-height: 1.5;
    --theme-nav-dropdown-background: #e0f3d8;
    --theme-nav-dropdown-color: var(--theme-nav-color);
    --theme-nav-dropdown-color-hover: var(--theme-nav-color);
}

/* Footer */

:root {
    --theme-footer-bg: var(--theme-primary-color);
    --theme-footer-color: #fff;
    --theme-footer-nav-font: var(--theme-typography-fontFamily);
    --theme-footer-nav-color: #fff;
    --theme-footer-nav-color-hover: #fff;
}
