/* =========================================================================== *\
    CALENDAR AGENDA STYLES
\* =========================================================================== */


/** @define CalendarAgenda */

.CalendarAgenda-icon {
    text-align: center;
    width: 22px;
}

.CalendarAgenda-eventTitle {
    font-size: var(--base-typography-h3-fontSize) !important;
    letter-spacing: var(--base-typography-heading-letterSpacing);
    line-height: var(--base-typography-h3-lineHeight) !important;
}
