{%  include 'snippets/header' %}
<div class="Container">
    {% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content">
        {{ _page.content('header') }}
        <main id="main">{{ _page.content() }}</main>
    </div>
</div>
{%  include 'snippets/footer' %}
