{%  include 'snippets/header' %}
{{ _page.content('header') }}
<div class="Container">
    {% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content{% if _page.isHome == true %} u-padTop0{% endif %}">
        <main id="main">{{ _page.content() }}</main>
    </div>
</div>
{%  include 'snippets/footer' %}
