{%  include 'snippets/header' %}
{{ _page.content('header') }}
<div class="Container">
    {% if _page.isHome == false %}
        {{ _page.breadcrumb }}
    {% endif %}
    <div class="Content">
        {{ _page.content() }}
    </div>
</div>
{%  include 'snippets/footer' %}
