/* =========================================================================== *\
    Store Category
\* =========================================================================== */


/* @define: Category */

.CategoryItem {
    text-align: center;
}

.CategoryItem a {
    text-decoration: none;
}

.CategoryItem-title {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
}

.CategoryItem-imageWrap {
    display: block;
    position: relative;
}

.CategoryItem-image {
    max-height: 260px;
    width: auto;
}

@supports(object-fit: cover) {
    .CategoryItem-imageWrap::after {
        content: '';
        display: block;
        padding-bottom: 75%;
        width: 100%;
    }

    .CategoryItem-imageWrap--wide::after {
        padding-bottom: 65%;
    }

    .CategoryItem-image {
        height: 100%;
        left: 0;
        max-height: none;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
