/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */

.Header {
    padding: 3rem var(--g-gutter) 2rem;
    text-align: center;
}

.Header--outer {
    padding: 0;
}

@media (--c-bp-largeScreenNav) {
    .Header {
        background: #fff;
        position: sticky;
        top: 0;
        z-index: 11;
    }

    .Header.is-sticky {
        box-shadow: 1px 1px 3px rgb(43 26 35 / 40%);
    }
}

@media (--m-sm) {
    .Header {
        padding: 2rem var(--g-gutter-sm);
    }

    .Header--outer {
        padding: 0;
    }
}

.Header-textLogo {
    font-size: var(--Header-text-logo-font-size-sm);
}

.Header-skipToMain {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

.Header-skipToMain:focus {
    background-color: var(--Header-skipMain-background, #fff);
    color: var(--Header-skipMain-color);
    font-weight: var(-Header-skipMain-font-weight, bold);
    height: auto;
    left: 10px;
    padding: var(--Header-skipMain-padding, 5px 10px);
    text-decoration: underline;
    width: auto;
}
