/* =========================================================================== *\
    Header
\* =========================================================================== */

/* @define Header */

.Header {
    background: var(--Header-background);
}

.Header-inner {
    padding: var(--Header-inner-padding, 0);
}

@media (--c-bp-largeScreenNav) {
    .Header.is-sticky {
        background: var(--Header-sticky-background);
        box-shadow: 1px 1px 3px rgb(43 26 35 / 40%);
        position: sticky;
        top: 0;
        z-index: 11;
    }

    .Header.is-sticky .Header-logoWrap {
        padding: var(--Header-sticky-logo-padding, var(--Header-logo-padding, 20px 0));
    }

    .Header.is-sticky .Header-logo {
        max-width: var(--Header-sticky-logo-width, var(--Header-logo-width));
    }
}

/* ------------------------------------ *\
    Logo
\* ------------------------------------ */

.Header-logoWrap {
    display: flex;
    justify-content: center;
    padding: var(--Header-logo-padding, 20px 0);
}

.Header-logoWrapSm {
    padding: var(--Header-logo-padding-sm, 10px);
}

.Header-logo {
    max-width: var(--Header-logo-width);
    width: 100%;
}

/* If the logo is an SVG, make sure it scales up. We set the actual width instead of a max width because SVGs can scale. */
.Header-logo[src$='.svg'] {
    height: auto;
    width: var(--Header-logo-width);
}

.Header-textLogo {
    font-size: var(--Header-text-logo-font-size-sm);
}

@media (--m-md) {
    .Header-textLogo {
        font-size: var(--Header-text-logo-font-size);
    }
}
