/* ===========================================================================
    Element that allows a screen reader to skip to the main content
=========================================================================== */

/* @define HeaderSkipToMain */

.HeaderSkipToMain {
    align-items: center;
    display: flex;
    height: 1px;
    justify-content: center;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 1px;
    z-index: 100;
}

.HeaderSkipToMain:focus {
    background-color: var(--Header-skipMain-background, #fff);
    color: var(--Header-skipMain-color);
    font-weight: var(-Header-skipMain-font-weight, bold);
    height: auto;
    left: 10px;
    padding: var(--Header-skipMain-padding, 5px 10px);
    text-decoration: underline;
    width: auto;
}
