/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* @define Footer */

.Footer {
    color: var(--Footer-color);
    margin: var(--Footer-sm-margin, 0);
    padding: var(--Footer-sm-padding, 0);
    text-align: center;
}

.Footer-logoWrap {
    margin: var(--Footer-logo-margin, 0);
}

.Footer-logo {
    max-width: var(--Footer-logo-width);
}

/* If the logo is an SVG, make sure it scales up. We set the actual width instead of a max width because SVGs can scale. */
.Footer-logo[src$='.svg'] {
    height: auto;
    max-width: 100%;
    width: var(--Footer-logo-width);
}

/* ------------------------------------ *\
    Social
\* ------------------------------------ */

.Footer-social {
    align-items: center;
    display: flex;
    gap: var(--Footer-social-gap, 10px);
    justify-content: center;
    line-height: 1;
    margin: var(--Footer-social-margin);
}

.Footer-socialLink {
    align-items: center;
    background: var(--Footer-social-background);
    border-radius: var(--Footer-social-border-radius, 50%);
    color: var(--Footer-social-color);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    line-height: 1;
    padding: var(--Footer-social-padding, 4px);
    text-decoration: none;
}

.Footer-socialLink:active,
.Footer-socialLink:focus,
.Footer-socialLink:hover {
    background: var(--Footer-social-backgroundHover);
    color: var(--Footer-social-colorHover);
    text-decoration: none;
}

.Footer-socialIcon {
    font-size: var(--Footer-social-size, 1.6rem);
}

/* ------------------------------------ *\
    Copyright and credit
\* ------------------------------------ */

.Footer-attributeLink {
    border-left: 1px solid currentcolor;
    display: inline-block;
    line-height: 1;
    padding: 0 1rem;
}

.Footer-attributeLink:first-child {
    border-left: none;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--m-lg) {
    .Footer {
        margin: var(--Footer-margin, 0);
        padding: var(--Footer-padding, 20px 0);
    }
}
