/* =========================================================================== *\
    Footer
\* =========================================================================== */

/* @define Footer */

.Footer {
    color: var(--Footer-color);
    margin: var(--Footer-sm-margin, 0);
    padding: var(--Footer-sm-padding, 0);
    text-align: center;
}

.Footer-link {
    color: var(--theme-primary-color);
    text-decoration: none;
}

.Footer-link:active,
.Footer-link:focus,
.Footer-link:hover {
    color: var(--theme-primary-color);
    text-decoration: underline;
}

.Footer-social {
    background: var(--theme-primary-color);
    color: var(--theme-secondary-color);
    display: inline-block;
    margin-right: 8px;
    padding: 2px;
    text-decoration: none;
}

.Footer-social:last-child {
    margin-right: 0;
}

.Footer-social:active,
.Footer-social:focus,
.Footer-social:hover {
    background: var(--theme-secondary-color);
    color: var(--theme-primary-color);
    text-decoration: none;
}

.Footer-copyright {
    color: var(--theme-footer-nav-color);
    font-size: 0.9em;
}

.Footer-credit {
    color: var(--theme-footer-nav-color);
    font-size: 0.9em;
    line-height: 1.5;
    padding: 0;
    text-decoration: none;
}

.Footer-credit:active,
.Footer-credit:focus,
.Footer-credit:hover {
    color: var(--theme-footer-nav-color);
    text-decoration: underline;
}

.Footer-credit:first-child {
    border-left: none;
}

/* ------------------------------------ *\
    Responsive
\* ------------------------------------ */

@media (--m-md) {
    .Footer-credit {
        border-left: 1px solid #666;
        display: inline-block;
        line-height: 1;
        padding: 0 1rem;
    }
}

@media (--m-lg) {
    .Footer {
        margin: var(--Footer-margin, 0);
        padding: var(--Footer-padding, 20px 0);
    }
}
