/* =========================================================================== *\
    Content
\* =========================================================================== */


/* @define Content */

.Content {
    background: #fff;
    padding: 30px var(--g-gutter);
}


@media (--c-bp-sm) {
    .Content {
        padding: var(--g-gutter-sm);
    }
}
