/* =========================================================================== *\
    Content
\* =========================================================================== */


/* @define Content */

.Content {
    background: #fff;
    padding: 3rem var(--g-gutter);
}


@media (--c-bp-sm) {
    .Content {
        padding: var(--g-gutter-sm);
    }
}

.Content-shaded {
    background: var(--theme-secondary-color);
    padding: 1em;
}

/* postcss-bem-linter: ignore */
.Content-shaded *:last-child {
    margin-bottom: 0;
}

/* postcss-bem-linter: ignore */
.Content-shaded a {
    color: var(--theme-primary-color-hover);
}
