/* =========================================================================== *\
    Content Header at the top of pages
\* =========================================================================== */


/* @define ContentHeader */

.ContentHeader {
    color: var(--theme-typography-color);
    padding: 25px;
}

.ContentHeader-title {
    color: var(--theme-typography-heading-color);
    font-size: 2em;
    font-weight: 300;
    line-height: 1.4;
    margin: 0;
    position: relative;
    text-transform: uppercase;
}

.ContentHeader-content {
    margin-top: 10px;
}

/* postcss-bem-linter: ignore */

.ContentHeader-content p:last-child {
    margin-bottom: 0;
}
