/* =========================================================================== *\
    MAIN NAVIGATION BAR
\* =========================================================================== */


/** @define NavBar */

.NavBar {
    background: var(--theme-navbar-bg);
    color: var(--theme-nav-color);
}

@media (--c-bp-smallScreenNav) {
    .NavBar {
        margin-bottom: 1em;
        text-align: center;
    }
}
