/* =========================================================================== *\
    SIDEBAR NAVIGATION
\* =========================================================================== */


/** @define SidebarNav */

.SidebarNav {
    background: var(--theme-secondary-color);
    list-style: none;
    margin: 0;
    padding: 8px;
}

.SidebarNav-item {
    margin: 2px 0;
    padding: 0;
}

.SidebarNav-link {
    color: var(--theme-typography-color);
    display: block;
    font-weight: 300;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
}

.SidebarNav-link--isParent {
    color: var(--theme-primary-color);
    font-family: var(--theme-typography-serif);
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
}

.SidebarNav-link:active,
.SidebarNav-link:focus,
.SidebarNav-link:hover {
    color: var(--theme-typography-color);
    text-decoration: underline;
}

.SidebarNav-link.is-current,
.SidebarNav-link.is-currentParent {
    color: var(--theme-typography-color);
    text-decoration: none;
}

.SidebarNav-link--isParent.is-current,
.SidebarNav-link--isParent.is-currentParent {
    color: var(--theme-primary-color);
}

.SidebarNav-link--indent {
    margin-left: 20px;
}

.SidebarNav-linkIcon {
    color: color(var(--theme-typography-color) tint(25%));
    float: left;
    padding-top: 4px;
}

@media (--c-bp-md) {
    .SidebarNav {
        text-align: center;
    }
}
